<div class="container" style='margin-top:20px'>
  <div class="row">
    <form class="card-login" action="/login" method="POST" autocomplete="off">
      <h4 align='center'>Iniciar Sesión</h4>
      <label for="login-email" class='form-label'>Correo Electronico:</label>
      <input type="text" id="login-email" name="email" class='form-item' placeholder="Correo Electronico">
      <p></p>
      <label for="login-password" class='form-label'>Contraseña:</label>
      <input type="password" id="login-password" name="password" class='form-item' placeholder="Contraseña">
      <div class="">
        <button type="submit" class="btn pink">
          <i class="bi-send-fill"></i>
          <strong>Entrar</strong>
        </button>
      </div>
      <p class="footer">
        ¿Aun no tienes cuente?
        <br>
        <a href="/register">Crear cuenta</a>
      </p>
    </form>
  </div>
</div>
